.container {
    padding: 5px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    color: #2D2959;
    background:
    linear-gradient(
          rgba(0, 0, 0, 0.1), 
          rgba(0, 0, 0, 0.1)
        ),
    url(images/jellyfishbackground.png);
    background-repeat: no-repeat;
}

#factsection {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    padding: 0px 5px 0px 5px;
}
#icon {
    width: 15%;
    height: 80%;
    align-items: center;
    margin-top: 90px;
}
#factbox {
    margin-left: auto;
    width: 80%;
    height: 70%;
    text-align: center;
    padding: 10px 20px 15px 30px;
    background-image: url(images/jellyfishspeechbubble.png);
    background-repeat: no-repeat;
}

#heartbutton {
    position: absolute;
    bottom: 160px;
    right: 30px;
    padding: 0px;
    border: none;
    background: none;
}
#heartbutton:hover {-webkit-filter: brightness(110%); transform: scale(1.1);}

#buttonsection {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}
#factbutton {
    width: 100px;
    height: 50px;
    border: none;
    background: none;
    background-image: url(images/jellyfishbuttonclosed.png);
    background-repeat: no-repeat;
}
#factbutton:hover {background-image: url(images/jellyfishbuttonopen.png); transform: scale(1.1);}

#favouritesection {
    width: 100%;
    overflow: auto;
    text-align: center;
    font-size: small;
    height: 38px;
    padding: 5px 5px 5px 20px;
    margin: 0px;
    /*background-image: url(images/jellyfishfactborder.png);
    background-repeat: no-repeat;
    background-position: bottom;*/
}

::-webkit-scrollbar {
    background-color: rgba(253, 171, 127, 0.85);
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: #FF8896;
    border-radius: 5px;
}
::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(images/jellyfishup.png);
    background-size: 15px;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(images/jellyfishdown.png);
    background-size: 15px;
}